 

services:
  # The Database Service
  postgres:
    image: postgres:15-alpine
    container_name: wms_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wms_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - wms-network

networks:
  wms-network:
    driver: bridge

volumes:
  postgres_data: